/* Removal of default page banner */
.tlk-prod-dash.header-v1 .page-header .page-header-content {
    display: none;
}

.dash-container {
    display: block;
    width: 100%;
    height: fit-content;
}

.dash-container form {
    width: 100%;
    display: block;
}

.dash-container label {
    width: 150px;
}

.dash-container select, .dash-container option, .dash-container input:not([type="submit"]) {
    width: 300px;
    margin-bottom: 1rem;
}

.dash-container input[type="submit"]{
    width: 450px;
}

.dash-container__header, .dash-container__overview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dash-container__overview div {
    display: flex;
    margin: 1rem;
    width: 100%;
    background-color: lightgray;
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

@media (max-width: 768px){
    .dash-container__header, .dash-container__overview {
        flex-direction: column;
    }

    .dash-container * {
        display: flex !important;
        width: 100% !important;
        flex-direction: column !important;
    }
}